.login {
    display: grid;
    grid-template-columns: 435px 174px 84px 174px 84px;
    column-gap: 10px;
    position: relative;
    background-color: rgb(105, 84, 84);
    font-weight: bold;
    padding: 2px;
}

.login-name {
    text-align: right;
    padding: 2px;
}

.login-password {
    padding: 2px;
    text-align: right;
}

.logout {
    display: grid;
    grid-template-columns: 898px 84px;
    column-gap: 10px;
    position: relative;
    background-color: rgb(105, 84, 84);
    font-weight: bold;
    padding: 2px;
}

.logout-name {
    text-align: right;
    padding: 2px;
}