.login,
.login-name {
    display: grid;
    grid-template-columns: 451px 170px 80px 170px 80px;
    column-gap: 10px;
    position: relative;
    background-color: rgb(105, 84, 84);
    font-weight: bold;
    padding: 2px;
}

.login-name {
    text-align-last: right;
}

.login-password {
    padding: 2px;
    text-align-last: right;
}

.logout,
.logout-name {
    display: grid;
    grid-template-columns: 792px 80px;
    column-gap: 120px;
    position: relative;
    background-color: rgb(105, 84, 84);
    font-weight: bold;
    padding: 2px;
}

.logout-name {
    text-align-last: right;
    left: 115px;
}