.unit-single {
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    padding: 10px;
}

img {
    width: 200px;
    display: block;
    margin: 0 auto
}

.dimmed {
    filter: brightness(0.5);
}