.unit-single,
.unit-form,
.unit-button {
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    padding: 10px;
}

.unit-form {
    grid-template-columns: 1fr;
    padding-right: 10px;
}

.unit-button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}