<div class="logout" *ngIf="user">
    <form class="logout" (ngSubmit)="onLogout()">
        <div class="logout-name">Logged as: {{user}}</div>
        <input type="submit" value="LogOut" />
    </form>
</div>
<div class="login" *ngIf="!user">
    <form class="login" (ngSubmit)="onLogin()">
        <label class="login-name" for="login">Username:</label>
        <input type="text" [(ngModel)]="login" name="login" />
        <label class="login-password" for="password">Password:</label>
        <input type="text" [(ngModel)]="password" name="password" />
        <input type="submit" value="Login" />
    </form>
</div>
<div class="register-error" *ngIf="errorMessage">{{ errorMessage }}</div>