<div class="register-title">
    <p>Register</p>
</div>
<div class="register">
    <form class="register-input" (ngSubmit)="registerUser()">
        <label for="username">Username:</label>
        <input type="text" [(ngModel)]="username" name="username" />
        <label for="password">Password:</label>
        <input type="text" [(ngModel)]="password" name="password" />
        <label for="confirmation">Password confirmation:</label>
        <input type="text" [(ngModel)]="confirmation" name="confirmation" />
        <input type="submit" value="Register" />
    </form>
    <div class="register-error" *ngIf="errorMessage">{{ errorMessage }}</div>
</div>