<div class="building-single" *ngIf="building">
    <div class="img-div">
        <img *ngIf="checkCottage(building.type)" src='../../../../assets/images/cottage.png'>
        <img *ngIf="checkQuarry(building.type)" src='../../../../assets/images/quarry.png'>
        <img *ngIf="checkHut(building.type)" src='../../../../assets/images/hut.png'>
        <img *ngIf="checkCavern(building.type)" src='../../../../assets/images/cavern.png'>
        <img *ngIf="checkPit(building.type)" src='../../../../assets/images/pit.png'>
        <img *ngIf="checkCave(building.type)" src='../../../../assets/images/cave.png'>
    </div>
</div>