<div class="building-single" *ngIf="building">
    <div class="img-div">
        <img *ngIf="checkCottage(building.type)" src='../../../../assets/images/cottage-575902_1280.png'>
        <img *ngIf="checkQuarry(building.type)" src='../../../../assets/images/house-575899_1280.png'>
        <img *ngIf="checkHut(building.type)" src='../../../../assets/images/houses-575904_1280.png'>
        <img *ngIf="checkCavern(building.type)" src='../../../../assets/images/tree-house-576796_1280.png'>
        <img *ngIf="checkPit(building.type)" src='../../../../assets/images/haunted-house-575906_1280.png'>
        <img *ngIf="checkCave(building.type)" src='../../../../assets/images/haunted-house-575900_1280.png'>
    </div>
</div>