<div class="building-title-shop">
    <p>Building Shop</p>
</div>
<div class="building-shop">
    <button *ngIf="checkMudGatherersCottage()" (click)="addBuilding('COTTAGE')">Mud Gatherer's Cottage</button>
    <button *ngIf="checkStoneQuarry()" (click)="addBuilding('QUARRY')">Stone Quarry</button>
    <button *ngIf="checkHuntersHut()" (click)="addBuilding('HUT')">Hunter's Hut</button>
    <button *ngIf="checkGoblinsCavern()" (click)="addBuilding('CAVERN')">Goblin's Cavern</button>
    <button *ngIf="checkOrcsPit()" (click)="addBuilding('PIT')">Orc's Pit</button>
    <button *ngIf="checkTrollsCave()" (click)="addBuilding('CAVE')">Troll's Cave</button>
</div>
<div class="building-title">
    <p>Building List</p>
</div>
<div class="building-list">
    <app-building-single *ngFor="let building of buildings" [building]="building"></app-building-single>
</div>