<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <meta name="author" content="Ada Bawolska">
    <meta name="description" content="Simple Economy Game">
    <meta name="keywords" content="Resources, Units, Buildings">
</head>

<body>
    <div class="content">
        <app-header></app-header>
        <app-login></app-login>
        <app-buildings></app-buildings>
        <app-resources></app-resources>
        <app-units></app-units>
        <p>register works!</p>
        <app-footer></app-footer>
    </div>
</body>
